exportPattern("^[[:alpha:]]+")
import(gamlss)
import(gamlss.dist)
importFrom(broom.mixed, tidy)
importFrom("stats", "as.formula", "p.adjust")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
