exportPattern("^[[:alpha:]]+")
import(gamlss)
import(gamlss.dist)
import(ZIBR)
import(lme4)
import(lmerTest)
import(foreach)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
importFrom(doParallel, registerDoParallel)
importFrom(broom.mixed, tidy)
importFrom(broom, tidy)
importFrom("stats", "as.formula", "p.adjust")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom(plyr, mapvalues)
